Source:  carnet-o-matic
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0), dh-python
Standards-Version: 3.8.4

Package: webcam-datastore
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, webcam-ds-common, python (>= 2.7), python-ldap, python-mysqldb, python-opencv, python-gtk2, v4l-utils
Description: datastore enabled webcam photo capture program
 The program uses any simple webcam to capture photos. Images are then
 uploaded to a centralized datastore-server for future use.

Package: webcam-burst-ds
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, webcam-ds-common, python (>= 2.7), python-ldap, python-mysqldb, python-opencv, python-gtk2, v4l-utils
Description: datastore enabled webcam burst photo capture program
 The program uses any simple webcam to capture and upload to a 
 centralized datastore-server bursts of photos

Package: webcam-ds-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: webcam datastore common files
 This package installs commom files used by datastore enabled
 webcam packages

#Package: ausias-webcam-datastore
#Architecture: all
#Depends: ${misc:Depends}, webcam-datastore
#Description: CIPFP Ausias March specific package for webcam-datastore
# The package installs and configures webcam-datastore with specific
# configuration for CIPFP Ausias March intranet

